@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .menu {
  padding: 0 15px;
}
header .menu:after {
  content: "";
  display: block;
  clear: both;
}
header .menu .logo {
  float: left;
}
header .menu .logo .header {
  display: block;
  width: 210px;
}
@media only screen and (max-width: 768px) {
  header .menu .logo .header {
    width: 120px;
  }
}
header .menu .nav {
  float: right;
  text-align: right;
}
header .menu .nav .target {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #003893;
}
header .menu .nav .official {
  display: inline-block;
}

footer {
  width: 100%;
  border-top: 2px solid #00a05d;
  background-color: #fff;
  position: relative;
  z-index: 5;
}
footer .footer_wrapper {
  max-width: 1250px;
  padding: 20px 15px;
  box-sizing: border-box;
  margin: auto;
  font-size: 0;
}
footer .footer_wrapper:after {
  content: "";
  display: block;
  clear: both;
}
footer .footer_wrapper .left {
  width: 630px;
  float: right;
  text-align: right;
}
footer .footer_wrapper .right {
  width: calc(100% - 630px);
  float: left;
}
footer .footer_wrapper figure.logo {
  width: 140px;
  margin: 0;
}
footer .footer_wrapper figure.logo img {
  width: 100%;
}
footer .footer_wrapper .copyright {
  clear: both;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 15px;
}
footer .footer_wrapper .row a {
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
  margin-right: 8px;
}
footer .footer_wrapper .row a.link:nth-of-type(1), footer .footer_wrapper .row a.link:nth-of-type(2), footer .footer_wrapper .row a.link:nth-of-type(3) {
  border-right: 1px solid #000;
}
footer .footer_wrapper .row a.addr {
  border-right: 1px solid #000;
}
footer .footer_wrapper .row a.tel {
  border-right: 1px solid #000;
}
@media only screen and (max-width: 860px) {
  footer .footer_wrapper .left {
    width: 370px;
  }
  footer .footer_wrapper .right {
    width: calc(100% - 370px);
  }
}
@media only screen and (max-width: 768px) {
  footer .footer_wrapper {
    width: 100%;
  }
  footer .footer_wrapper .left {
    float: none;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    text-align: center;
  }
  footer .footer_wrapper .right {
    float: none;
    width: 100%;
  }
  footer .footer_wrapper figure.logo {
    margin: auto;
  }
  footer .footer_wrapper .copyright {
    text-align: center;
  }
  footer .footer_wrapper .row a {
    margin-right: 6px;
    padding-right: 6px;
  }
}

.btn_prev {
  text-decoration: none;
  width: 147px;
  color: #003893;
  font-size: 21px;
  text-align: center;
  position: absolute;
  transition: 0.3s;
  z-index: 99;
}
.btn_prev:hover {
  transform: translateX(-10%);
}
.btn_prev img {
  padding: 12px 0;
  transform: scaleX(-1);
}
.btn_prev span {
  display: inline-block;
}

.btn_next {
  text-decoration: none;
  width: 147px;
  color: #003893;
  font-size: 21px;
  text-align: center;
  position: absolute;
  transition: 0.3s;
  z-index: 99;
}
.btn_next:hover {
  transform: translateX(10%);
}
.btn_next img {
  padding: 12px 0;
}
.btn_next span {
  display: inline-block;
}

@media only screen and (max-width: 1470px) {
  .btn_prev {
    width: 120px;
    font-size: 17px;
  }

  .btn_next {
    width: 120px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 1024px) {
  .btn_prev {
    width: 105px;
    font-size: 15px;
  }

  .btn_next {
    width: 105px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .btn_prev {
    font-size: 22px;
  }
  .btn_prev:hover {
    transform: none;
  }
  .btn_prev img {
    padding: 8px 0;
  }

  .btn_next {
    font-size: 22px;
  }
  .btn_next:hover {
    transform: none;
  }
  .btn_next img {
    padding: 8px 0;
  }
}
@media only screen and (max-width: 480px) {
  .btn_prev {
    width: 80px;
    font-size: 18px;
  }

  .btn_next {
    width: 80px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .btn_prev {
    width: 70px;
    font-size: 15px;
  }
  .btn_prev img {
    padding: 5px 0;
  }

  .btn_next {
    width: 70px;
    font-size: 15px;
  }
  .btn_next img {
    padding: 5px 0;
  }
}