@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

@keyframes slotMachine {
  0% {
    transform: translateY(-91%);
  }
  100% {
    transform: translateY(0);
  }
}
.examItem, .resultItem {
  display: none;
}

.exam .examBg img:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 768px) {
  .exam .examBg img:nth-of-type(1) {
    display: none;
  }
  .exam .examBg img:nth-of-type(2) {
    display: block;
  }
}
.exam .examTitle {
  position: relative;
  z-index: 2;
}
.exam .examItem {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.exam .examContent {
  position: relative;
  margin-top: -8%;
  font-style: italic;
  text-align: center;
  z-index: 0;
}
.exam .examContent .examItem {
  padding: 7.5% 20% 12%;
}
@media only screen and (max-width: 768px) {
  .exam .examContent .examItem {
    padding: 8% 10% 19%;
  }
}
.exam .examAction {
  position: relative;
  font-size: 0;
  text-align: center;
}
.exam .examAction:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 10%;
}
.exam .examBtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 32%;
  padding: 20px 27px 18px;
  border-radius: 15px;
  border: 10px solid #89bdee;
  background-color: #003893;
  background-image: url(../images/btn_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 7px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.exam .examBtn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 12px;
  border: 6px solid #fff;
}
.exam .examBtn img {
  max-width: 283px;
}
.exam .examBtn + .examBtn {
  margin-left: 36px;
}
.exam .examIndex {
  display: block;
}
.exam .examIndex .visits {
  font-size: 0;
}
.exam .examIndex .visits img {
  display: inline-block;
}
.exam .examIndex .visits .visits01 {
  width: 195px;
  margin-right: 5px;
}
.exam .examIndex .visits .visits02 {
  width: 232px;
  margin-left: 5px;
}
.exam .examIndex .visits .numberBox {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 45px;
  margin: 0 1px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  border-radius: 4px;
  border: 1.5px solid #cccccc;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.exam .examIndex .visits .numberBox .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exam .examIndex .visits .numberBox .number.animate {
  position: static;
  display: block;
  animation: slotMachine 0.1s infinite linear;
}
@media only screen and (max-width: 1660px) {
  .exam .examIndex .visits .visits01 {
    width: 160px;
  }
  .exam .examIndex .visits .visits02 {
    width: 190px;
  }
  .exam .examIndex .visits .numberBox {
    width: 34px;
    height: 38px;
    font-size: 28.5px;
  }
}
@media only screen and (max-width: 1460px) {
  .exam .examIndex .visits .visits01 {
    width: 115px;
  }
  .exam .examIndex .visits .visits02 {
    width: 136px;
  }
  .exam .examIndex .visits .numberBox {
    width: 24px;
    height: 26px;
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .exam .examIndex .visits .visits01 {
    width: 30%;
    margin-right: 2px;
  }
  .exam .examIndex .visits .visits02 {
    width: 36%;
    margin-left: 2px;
  }
  .exam .examIndex .visits .numberBox {
    width: 16px;
    height: 21px;
    font-size: 15px;
    border: 1px solid #cccccc;
  }
}
.exam .examIndex .description {
  position: relative;
  margin: 7% 0;
  padding: 5% 0;
  font-size: 20px;
  line-height: 1.9;
  letter-spacing: 1.5px;
  background-color: rgba(67, 108, 171, 0.1);
}
.exam .examIndex .description:before, .exam .examIndex .description:after {
  content: "";
  position: absolute;
  top: 0;
  box-sizing: border-box;
  display: block;
  width: 4%;
  height: 100%;
  border: 6px solid #436cab;
}
.exam .examIndex .description:before {
  left: 0;
  border-right: transparent;
}
.exam .examIndex .description:after {
  right: 0;
  border-left: transparent;
}
@media only screen and (max-width: 1660px) {
  .exam .examIndex .description {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1460px) {
  .exam .examIndex .description {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examIndex .description {
    font-size: 13px;
  }
}
.exam .examIndex .message {
  width: 91%;
  margin: auto;
}
.exam .examQA .question {
  display: inline-block;
  font-size: 0;
}
.exam .examQA .question .number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 46px;
  margin-top: -6px;
  border-radius: 50%;
  background-color: #d60067;
  border: 6px solid #000000;
}
.exam .examQA .question .number:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.exam .examQA .question .number img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 78%;
}
.exam .examQA .question .text {
  display: inline-block;
  box-sizing: border-box;
  width: calc( 100% - 58px );
  padding-left: 8px;
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
  text-align: left;
  color: #436cab;
}
@media only screen and (max-width: 1660px) {
  .exam .examQA .question .number {
    width: 36px;
    height: 36px;
  }
  .exam .examQA .question .number img {
    width: 28px;
  }
  .exam .examQA .question .text {
    width: calc( 100% - 48px );
    font-size: 28px;
  }
}
@media only screen and (max-width: 1460px) {
  .exam .examQA .question .number {
    width: 30px;
    height: 30px;
  }
  .exam .examQA .question .text {
    width: calc( 100% - 42px );
    font-size: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examQA .question .number {
    width: 26px;
    height: 26px;
    border: 4px solid #000000;
  }
  .exam .examQA .question .number:before {
    top: -2px;
    left: -2px;
    border: 2px solid #fff;
  }
  .exam .examQA .question .text {
    width: calc( 100% - 34px );
    padding-left: 4px;
    font-size: 20px;
  }
}
.exam .examQA .answer {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 70%;
  margin: 3.5% auto 0;
  padding: 3%;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  list-style-type: upper-alpha;
  text-align: left;
  text-decoration: none;
  border-radius: 15px;
  border: 7px solid #000000;
  background-color: #d60067;
  cursor: pointer;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.exam .examQA .answer:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 12px;
  border: 4px solid #fff;
}
@media only screen and (max-width: 1660px) {
  .exam .examQA .answer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1460px) {
  .exam .examQA .answer {
    padding: 3%;
    font-size: 14px;
    border-radius: 10px;
  }
  .exam .examQA .answer:before {
    border-radius: 8px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examQA .answer {
    border: 4px solid #000000;
  }
  .exam .examQA .answer:before {
    top: -2px;
    left: -2px;
    border: 2px solid #fff;
  }
}
.exam .examResult .correct .head {
  position: relative;
  width: 71%;
  margin: auto;
}
.exam .examResult .correct .head:before, .exam .examResult .correct .head:after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.exam .examResult .correct .head:before {
  top: -20%;
  width: 45%;
  left: -50%;
  height: 75%;
  background-image: url(../images/ribbonLeft.png);
}
.exam .examResult .correct .head:after {
  top: -15%;
  width: 38%;
  right: -43%;
  height: 100%;
  background-image: url(../images/ribbonRight.png);
}
.exam .examResult .correct .content {
  margin-top: 7%;
}
.exam .examResult .correct .content:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 5px dotted #003893;
}
.exam .examResult .correct .message {
  font-size: 0;
}
.exam .examResult .correct .message:before, .exam .examResult .correct .message:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: calc( (100% - 151px)/2 );
  border-top: 5px dotted #003893;
}
.exam .examResult .correct .message span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 5px;
  font-size: 34px;
  font-weight: bold;
  color: #436cab;
}
.exam .examResult .correct .main {
  padding: 5% 0 6%;
  font-size: 28px;
  line-height: 1.8;
  color: #436cab;
}
@media only screen and (max-width: 1460px) {
  .exam .examResult .correct .content:after {
    border-top: 4px dotted #003893;
  }
  .exam .examResult .correct .message:before, .exam .examResult .correct .message:after {
    width: calc( (100% - 131px)/2 );
    border-top: 4px dotted #003893;
  }
  .exam .examResult .correct .message span {
    font-size: 29px;
  }
  .exam .examResult .correct .main {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examResult .correct .content:after {
    border-top: 3px dotted #003893;
  }
  .exam .examResult .correct .message:before, .exam .examResult .correct .message:after {
    width: calc( (100% - 115px)/2 );
    border-top: 3px dotted #003893;
  }
  .exam .examResult .correct .message span {
    font-size: 25px;
  }
  .exam .examResult .correct .main {
    font-size: 20px;
  }
}
.exam .examResult .wrong .head, .exam .examResult .allWrong .head {
  width: 70%;
  margin: auto;
}
.exam .examResult .wrong .message, .exam .examResult .allWrong .message {
  margin-top: 5%;
  font-size: 22px;
  font-weight: bold;
}
.exam .examResult .wrong .main, .exam .examResult .allWrong .main {
  position: absolute;
  left: 50%;
  bottom: 14.95%;
  transform: translateX(-50%);
  width: 46%;
}
@media only screen and (max-width: 1540px) {
  .exam .examResult .wrong .message, .exam .examResult .allWrong .message {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examResult .wrong .message, .exam .examResult .allWrong .message {
    font-size: 16px;
  }
}
.exam .examCoupon .head {
  width: 87%;
  margin: auto;
}
.exam .examCoupon .content {
  margin-top: 3%;
}
.exam .examCoupon .main {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.8;
}
.exam .examCoupon .line {
  width: 69.5%;
  margin: 3% auto;
  border-top: 5px dotted #003893;
}
.exam .examCoupon .txtBlue {
  color: #0071bc;
}
.exam .examCoupon .txtPink {
  color: #d60067;
}
.exam .examCoupon .code {
  margin: 3% 0;
}
.exam .examCoupon .code .text {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  color: #436cab;
}
.exam .examCoupon .code .codeBox {
  box-sizing: border-box;
  display: inline-block;
  width: 252px;
  height: 47px;
  margin: 0 10px;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  background-image: url(../images/codeBox.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.exam .examCoupon .code .copy {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d60067;
  border: 4px solid #000000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.exam .examCoupon .code .copy:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.exam .examCoupon .code .copy img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 38%;
}
.exam .examCoupon .method {
  font-size: 14px;
  font-style: normal;
  color: #0071bc;
}
@media only screen and (max-width: 1660px) {
  .exam .examCoupon .main {
    font-size: 20px;
  }
  .exam .examCoupon .code .text {
    font-size: 16px;
  }
  .exam .examCoupon .code .codeBox {
    width: 232px;
    height: 44.5px;
    margin: 0 8px;
    font-size: 20px;
  }
  .exam .examCoupon .code .copy {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 1460px) {
  .exam .examCoupon .main {
    font-size: 18px;
  }
  .exam .examCoupon .line {
    margin: 2% auto;
    border-top: 4px dotted #003893;
  }
  .exam .examCoupon .code {
    margin: 2% 0;
  }
  .exam .examCoupon .code .text {
    font-size: 15px;
  }
  .exam .examCoupon .code .codeBox {
    width: 214px;
    height: 40px;
    margin: 0 8px;
    font-size: 18px;
  }
  .exam .examCoupon .code .copy {
    width: 27px;
    height: 27px;
  }
  .exam .examCoupon .method {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .exam .examCoupon .main {
    font-size: 16px;
    line-height: 1.65;
  }
  .exam .examCoupon .line {
    border-top: 3px dotted #003893;
  }
  .exam .examCoupon .code .text {
    font-size: 14px;
  }
  .exam .examCoupon .code .codeBox {
    width: 193px;
    height: 36px;
    margin: 0 8px;
    padding: 9px;
    font-size: 16px;
  }
  .exam .examCoupon .code .copy {
    width: 24px;
    height: 24px;
  }
}
.exam .doctor {
  position: absolute;
  right: 4%;
  bottom: 10%;
  width: 20%;
}
.exam .eraser {
  position: absolute;
  bottom: 9%;
  left: 6%;
  width: 13.5%;
}
.exam .twoDoll {
  position: absolute;
  bottom: 9%;
  left: -3%;
  width: 31%;
}