@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

@keyframes pattern {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes arrow-down {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(110%);
  }
}
@keyframes click {
  0% {
    transform: translate(0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: translate(0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  75% {
    transform: translate(5px, 5px);
    box-shadow: none;
  }
  100% {
    transform: translate(0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}
@keyframes follow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}
.banner .pattern, .banner .dollx2 img, .banner .products img, .banner .doctor img, .exam {
  opacity: 0;
}

article {
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100%;
  padding-top: 60px;
  background-image: url(../images/BG.jpg);
  background-size: cover;
}
.banner:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  height: 100%;
  background-image: url(../images/BG_bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  .banner {
    padding-top: 40px;
    background-image: url(../images/BG_m.jpg);
  }
  .banner:before {
    bottom: -14%;
    background-image: url(../images/BG_bottom_mb.png);
  }
}
.banner .wrapper {
  position: relative;
  width: 65%;
  max-width: 1440px;
  height: 40vw;
  max-height: 886px;
  margin: auto;
  z-index: 10;
}
@media only screen and (max-width: 1024px) {
  .banner .wrapper {
    width: 100%;
    max-width: 640px;
    height: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .banner .wrapper {
    width: 90%;
    height: 920px;
    max-height: none;
  }
}
@media only screen and (max-width: 720px) {
  .banner .wrapper {
    height: 132vw;
  }
}
.banner .products {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  width: 38%;
}
.banner .products img:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 768px) {
  .banner .products {
    width: 53%;
    bottom: 0;
    left: auto;
    right: 10px;
    transform: none;
    z-index: 2;
  }
  .banner .products img:nth-of-type(1) {
    display: none;
  }
  .banner .products img:nth-of-type(2) {
    display: block;
  }
}
.banner .pattern {
  width: 57%;
  margin: auto;
}
.banner .pattern img {
  animation: pattern 1.5s ease-out 1s infinite;
}
@media only screen and (max-width: 768px) {
  .banner .pattern {
    width: 100%;
  }
}
.banner .dollx2 {
  position: absolute;
  right: -7%;
  bottom: -8%;
  width: 37%;
}
@media only screen and (max-width: 768px) {
  .banner .dollx2 {
    right: 0;
    bottom: 18%;
    width: 50%;
  }
}
.banner .doctor {
  position: absolute;
  bottom: -4%;
  left: 3%;
  width: 24%;
}
@media only screen and (max-width: 768px) {
  .banner .doctor {
    width: 46%;
    bottom: 2%;
    left: 15px;
  }
}
.banner .scroll {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.banner .scroll p {
  text-align: center;
  font-size: 22px;
  color: #003893;
  letter-spacing: 1px;
}
.banner .scroll .scroll_arrow {
  width: 30%;
  margin: 5px auto 0;
  overflow: hidden;
}
.banner .scroll .scroll_arrow figure {
  position: relative;
  animation: arrow-down 2s infinite linear;
}
@media only screen and (max-width: 1380px) {
  .banner .scroll p {
    font-size: 18px;
  }
  .banner .scroll .scroll_arrow {
    width: 20%;
  }
}
@media only screen and (max-width: 768px) {
  .banner .scroll {
    bottom: -13%;
  }
  .banner .scroll p {
    font-size: 14px;
  }
  .banner .scroll .scroll_arrow {
    width: 18%;
  }
}
.banner p.protect {
  position: absolute;
  bottom: -13%;
  left: 1%;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  z-index: 10;
}
.banner p.protect:before {
  content: "*";
  display: inline-block;
  vertical-align: top;
}
.banner p.protect span {
  display: inline-block;
}
@media only screen and (max-width: 1680px) {
  .banner p.protect {
    bottom: -15%;
  }
}
@media only screen and (max-width: 1024px) {
  .banner p.protect {
    bottom: -17%;
    left: -2%;
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 768px) {
  .banner p.protect {
    display: none;
  }
}
.banner p.protect .protect_br {
  display: none;
}
@media only screen and (max-width: 1680px) {
  .banner p.protect .protect_br {
    display: block;
  }
}

.profession {
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  z-index: 3;
  background-image: url(../images/video_BG.png);
  background-size: cover;
  background-position: bottom center;
}
@media only screen and (max-width: 1380px) {
  .profession {
    padding-bottom: 12%;
  }
}
@media only screen and (max-width: 1024px) {
  .profession {
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .profession {
    padding: 10% 0 35%;
    background-image: url(../images/video_BG_mob.png);
  }
}
.profession .wrapper {
  width: 65%;
  max-width: 1170px;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .profession .wrapper {
    width: 95%;
    max-width: 660px;
  }
}

.videos .videosTitle {
  position: relative;
  width: 100%;
  z-index: 3;
}
.videos .videosTitle .videosTitle_text {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.videos .videosTitle .videosTitle_text:first-of-type {
  display: block;
}
.videos .videosTitle img:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 768px) {
  .videos .videosTitle img:nth-of-type(1) {
    display: none;
  }
  .videos .videosTitle img:nth-of-type(2) {
    display: block;
  }
}
.videos .videoSlider {
  width: 90%;
  margin: auto;
  margin-top: -0.8%;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider {
    width: 86%;
    margin-top: -1.8%;
  }
}
.videos .videoSlider .videoWrapper {
  position: relative;
  box-sizing: border-box;
  border-radius: 30px;
  border: 10px solid #ffffff;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider .videoWrapper {
    border-radius: 8px;
    border: 5px solid #ffffff;
  }
}
.videos .videoSlider .videoWrapper .videoContent {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.videos .videoSlider .videoWrapper .videoContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos .videoSlider .videoWrapper .owl-dots {
  display: none;
}
.videos .videoSlider .btn_prev {
  top: 58%;
  left: -5%;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider .btn_prev {
    top: 63%;
    left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .videos .videoSlider .btn_prev {
    bottom: -65%;
  }
}
.videos .videoSlider .btn_next {
  top: 58%;
  right: -5%;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider .btn_next {
    top: 63%;
    right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .videos .videoSlider .btn_next {
    bottom: -65%;
  }
}
.videos .videoSlider .man {
  width: 10%;
  position: absolute;
  left: -3%;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider .man {
    width: 19%;
    left: 0;
    bottom: -18%;
    z-index: 2;
  }
}
.videos .videoSlider .woman {
  width: 8%;
  position: absolute;
  right: -2%;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .videos .videoSlider .woman {
    width: 15%;
    right: 0;
    bottom: -16%;
    z-index: 2;
  }
}

.introduction {
  width: 100%;
  margin-top: -8%;
  padding: 13% 0 5%;
  background: linear-gradient(45deg, #fff 1.5%, #e5ebf4 0, #e5ebf4 48.5%, #fff 0, #fff 51.5%, #e5ebf4 0, #e5ebf4 98.5%, #fff 0);
  background-size: 20px 20px;
  background-repeat: repeat;
}
@media only screen and (max-width: 768px) {
  .introduction {
    margin-top: -18%;
    padding: 25% 0 20% 0;
  }
}
.introduction .wrapper {
  width: 70%;
  max-width: 1170px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper {
    width: 95%;
    max-width: 640px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper {
    width: 100%;
    overflow: hidden;
  }
}
.introduction .wrapper .knowledgeSlider {
  position: relative;
  padding-bottom: 10%;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider {
    padding-bottom: 15%;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeTitle {
  width: 45%;
  max-width: 534px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeTitle {
    width: 75%;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent {
  position: relative;
  width: 100%;
  margin-top: -35px;
  font-size: 0;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent {
    width: 90%;
    margin: -20px auto 0 auto;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-item {
  padding: 10px;
  box-sizing: border-box;
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge {
  position: relative;
  text-align: right;
  padding-right: 3%;
  margin-bottom: 3%;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge {
    text-align: left;
    padding-right: 0;
    margin-bottom: 5%;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeBG {
  width: 97%;
  height: 95%;
  position: absolute;
  left: 3%;
  bottom: -5%;
  background-color: #003893;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeBG {
    width: 90%;
    height: 100%;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .contentBG {
  position: absolute;
  width: 52%;
  padding-bottom: 42%;
  background-color: #ffffff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .contentBG {
    display: none;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeImg {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeImg {
    width: 90%;
    z-index: 50;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt {
  width: 52%;
  padding: 0 10% 0 10%;
  position: absolute;
  top: 13%;
  left: 0;
  box-sizing: border-box;
  color: #003893;
  text-align: center;
}
@media only screen and (max-width: 1800px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt {
    padding: 0 8% 0 8%;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt {
    top: 12%;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt {
    width: 90%;
    position: relative;
    background-color: #ffffff;
    margin: -5% 0 0 10%;
    padding: 10%;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h5 {
  font-size: 16px;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h5 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1640px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h5 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h5 {
    transform: scale(0.9);
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h4 {
  font-size: 32px;
  line-height: 1.35;
  padding: 10px 0;
  margin: 25px 0;
  border-top: 1px solid #003893;
  border-bottom: 1px solid #003893;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h4 {
    margin: 15px 0;
    font-size: 26px;
  }
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h4 {
    margin: 10px 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt h4 {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 18px;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
  font-size: 22px;
  line-height: 1.5;
  color: #333333;
  text-align: left;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1400px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .knowledge .knowledgeTxt p {
    font-size: 13px;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-dots {
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-dots {
    margin-top: 6%;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-dots span {
  background: #003893;
  opacity: 0.5;
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-dots span {
    width: 7px;
    height: 7px;
    margin: 5px;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .knowledgeWrapper .owl-dots .owl-dot.active span {
  opacity: 1;
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .btn_prev {
  top: 40%;
  left: -8%;
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_prev {
    left: -10%;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_prev {
    left: -7%;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_prev {
    top: auto;
    bottom: 0;
    left: -3%;
  }
}
.introduction .wrapper .knowledgeSlider .knowledgeContent .btn_next {
  top: 40%;
  right: -8%;
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_next {
    right: -10%;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_next {
    right: -7%;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .knowledgeSlider .knowledgeContent .btn_next {
    top: auto;
    bottom: 0;
    right: -3%;
  }
}
.introduction .wrapper .PD_slider {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider {
    width: 90%;
    margin: auto;
  }
}
.introduction .wrapper .PD_slider .BG_slider {
  position: relative;
  transform-origin: left;
  transform: skewY(-4.5deg);
}
.introduction .wrapper .PD_slider .BG_slider img:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .BG_slider img:nth-of-type(1) {
    display: none;
  }
  .introduction .wrapper .PD_slider .BG_slider img:nth-of-type(2) {
    display: block;
  }
}
.introduction .wrapper .PD_slider .BG_slider:before {
  content: "";
  display: block;
  position: absolute;
  right: -5%;
  top: 8.5%;
  width: 30%;
  height: 1.5%;
  background-color: #d60067;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .BG_slider:before {
    right: -10%;
    top: 4%;
    height: 1%;
  }
}
.introduction .wrapper .PD_slider .BG_slider:after {
  content: "";
  display: block;
  position: absolute;
  left: -5%;
  bottom: 8.5%;
  width: 30%;
  height: 1.5%;
  background-color: #d60067;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .BG_slider:after {
    right: -10%;
    bottom: 4%;
    height: 1%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper {
    width: 90%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 8%);
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product {
  font-size: 0;
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_img {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_img {
    width: 85%;
    display: block;
    margin: auto;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_img {
    width: 80%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_img img:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_img img:nth-of-type(1) {
    display: none;
  }
  .introduction .wrapper .PD_slider .product_wrapper .product .product_img img:nth-of-type(2) {
    display: block;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content {
  width: 55%;
  display: inline-block;
  padding: 0 0 0 2%;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content {
    width: 100%;
    padding: 5% 0 0 3%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 768px) and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content {
    padding: 10% 0 0 3%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content #toothbrushX3 {
  padding: 0 0 0 3%;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content #toothbrushX3 {
    padding: 0;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
  font-size: 32px;
  color: #003893;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1380px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 560px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt h4 {
    font-size: 15px;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
  padding: 15px 0;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
    padding: 7px 0;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 480px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 400px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 {
    padding: 6px 0;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
  width: auto;
  height: 62px;
  display: inline-block;
  vertical-align: text-bottom;
  padding-right: 7px;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 54px;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 62px;
  }
}
@media only screen and (max-width: 560px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 42px;
  }
}
@media only screen and (max-width: 400px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 35px;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 img {
    height: 32px;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
  font-size: 60px;
  color: #d60067;
  display: inline-block;
  vertical-align: text-bottom;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 52px;
  }
}
@media only screen and (max-width: 1380px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 560px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 480px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 400px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt .product_logo02 h3 {
    font-size: 28px;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul {
  margin-left: 38px;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul {
    margin-left: 30px;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
  font-size: 22px;
  line-height: 1.5;
  list-style-type: circle;
  color: #333333;
}
@media only screen and (max-width: 1540px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1240px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 22px;
  }
}
@media only screen and (max-width: 560px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li {
    font-size: 12px;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li p {
  font-size: 16px;
}
@media only screen and (max-width: 1380px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 560px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content .txt ul li p {
    transform: scale(0.9);
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .feature {
  width: 55%;
  font-size: 0;
  position: absolute;
  right: 0;
  bottom: 13%;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .feature {
    width: 55%;
    padding-bottom: 58.1%;
    position: relative;
    margin: 4% auto 0 auto;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .feature figure {
  width: 33%;
  display: inline-block;
  padding: 2%;
  box-sizing: border-box;
}
.introduction .wrapper .PD_slider .product_wrapper .product .feature figure:nth-of-type(3) {
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .feature figure {
    width: 100%;
    padding: 0 5%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .introduction .wrapper .PD_slider .product_wrapper .product .feature figure:nth-of-type(1) {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .feature.toothbrushX3 {
    margin: 8% auto 0 auto;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content.toothbrush {
  width: 63%;
  margin-left: -8%;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content.toothbrush {
    margin-left: 0;
    width: 100%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content.children {
  width: 100%;
  padding: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content.children .txt {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content.children .txt span {
  display: inline-block;
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_content.children .award {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content.children {
    position: relative;
  }
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content.children .txt {
    width: 100%;
  }
  .introduction .wrapper .PD_slider .product_wrapper .product .product_content.children .award {
    width: 55%;
    padding-bottom: 3%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .product_img.children {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .product_img.children {
    width: 88%;
  }
}
.introduction .wrapper .PD_slider .product_wrapper .product .feature.children figure {
  width: 34%;
}
.introduction .wrapper .PD_slider .product_wrapper .product .feature.children figure:nth-of-type(3) {
  padding-right: 2%;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .product_wrapper .product .feature.children figure {
    width: 100%;
  }
}
.introduction .wrapper .PD_slider .btn_prev {
  top: 40%;
  left: -8%;
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .PD_slider .btn_prev {
    left: -10%;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .PD_slider .btn_prev {
    left: -7%;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .btn_prev {
    top: 34%;
    left: -3%;
  }
}
.introduction .wrapper .PD_slider .btn_next {
  top: 40%;
  right: -8%;
}
@media only screen and (max-width: 1280px) {
  .introduction .wrapper .PD_slider .btn_next {
    right: -10%;
  }
}
@media only screen and (max-width: 1024px) {
  .introduction .wrapper .PD_slider .btn_next {
    right: -7%;
  }
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .btn_next {
    top: 34%;
    right: -3%;
  }
}
.introduction .wrapper .PD_slider .bigBtn {
  width: 45%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7%;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 50;
  transition: 0.3s;
  animation: click 1s infinite linear;
}
@media only screen and (max-width: 768px) {
  .introduction .wrapper .PD_slider .bigBtn {
    width: 90%;
    bottom: 2%;
  }
}

.followBtn {
  width: 35%;
  max-width: 270px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  animation: follow 1s infinite linear alternate;
}
.followBtn a {
  display: block;
}